.footer {
    grid-area: ft;
    width:100%;
    background-color: #210478;
    color:aliceblue;
    text-align: center;
}

.footer h2 {
    text-decoration: underline;
}

.footer a {
        color: hotpink;     
}

.fa-brands {
    color:aliceblue;
}