@import "header.css";
@import "navbar.css";
@import "contact.css";

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    gap: 15px 15px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    grid-template-areas: 
    "hd hd hd hd"
    "tn tn tn tn"
    "p p p p"
    "ft ft ft ft";
}

.blog_post {
    grid-area: p;
    text-align: center;
    color: aliceblue;
}

img {
    max-width: 70%;
    max-height: 80%;
    margin-left:auto;
    margin-right:auto;
}