#body {
    background-color: rgba(8, 125, 146, 0.982);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    gap: 15px 15px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    grid-template-areas: 
    "hd hd hd hd"
    "tn tn tn tn"
    "aa aa aa aa"
    "b1 b1 cp cp"
    "b3 b3 b2 b2"
    "ft ft ft ft";
}

.header {
    grid-area: hd;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
    background-color: #210478;
    color:aliceblue;     
}   

.top_nav {
    grid-area: tn;
    display: flex;
    justify-content: space-around;
    width:100%;
    height: 20%;
}

.top_nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; 
}

.top_nav li a {
  display: flex;
  float: center;
  color: hotpink;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}

.top_nav li a:hover {
    background-color: aliceblue;
}

h2 {
    text-align: center;
    color:aliceblue;
    text-decoration: underline;
}

h3 {
    text-align: center;
    color:#cfc126;
}

.about_author {
    align-items: center;
    grid-area: aa;
    color:aliceblue;
}
 
.about_author img {
    max-width: 35%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}   

.blog_post_1 {
    grid-area: b1;
    border:#e6dc19 inset 5px;
}

.blog_post_1 img {
    display: block;  
    max-width: 100%;
    max-height: 100%;
    margin-left:auto;
    margin-right:auto;   
}

.blog_post_1 a {
    color:aliceblue;
} 

.blog_post_2 {
    grid-area: b2;
    border:#e6dc19 inset 5px;
}

.blog_post_2 img {
    display:block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: none;
}

.blog_post_2 a {
    color:aliceblue;
}

.blog_post_3 {
    grid-area: b3;
    border:#e6dc19 inset 5px;
}

.blog_post_3 img {
    display:block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.blog_post_3 a {
    color:aliceblue;
}

.cool_pic {
    grid-area: cp;
    border:#e6dc19 inset 5px;   
}

.cool_pic img {
    display:  block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: none;
    max-width: 100%;
}

.footer {
    grid-area: ft;
    width:100%;
    background-color: #210478;
    color:aliceblue;
    text-align: center;
}

.footer h2 {
    text-decoration: underline;
}

.footer a {
        color: hotpink;     
}